
// Icons
$icons-path: "../../../assets/icons";
$cursors-path: "#{$icons-path}/cursors";
$tools-path: "#{$icons-path}/tools";

// Tool icons
$pointer-tool-icon-path: "#{$tools-path}/pointer.png";
$pencil-tool-icon-path: "#{$tools-path}/pencil.png";
$brush-tool-icon-path: "#{$tools-path}/brush.png";
$rect-tool-icon-path: "#{$tools-path}/rect.png";
$circle-tool-icon-path: "#{$tools-path}/circle.png";
$hand-tool-icon-path: "#{$tools-path}/hand.png";

$pencil-cursor-icon-path: "#{$cursors-path}/pencil.png";
$brush-cursor-icon-path: "#{$cursors-path}/circle.png";
$rect-cursor-icon-path: "#{$cursors-path}/crosshair.png";
$circle-cursor-icon-path: "#{$cursors-path}/crosshair.png";
$hand-cursor-icon-path: "#{$cursors-path}/hand.png";
$fist-cursor-icon-path: "#{$cursors-path}/fist.png";

$user-1-path: "#{$icons-path}/users/user-1.png";
$user-2-path: "#{$icons-path}/users/user-2.png";
$user-3-path: "#{$icons-path}/users/user-3.png";
$user-4-path: "#{$icons-path}/users/user-4.png";

$socket-connected-path: "#{$icons-path}/socket/connected.png";
$socket-disconnected-path: "#{$icons-path}/socket/disconnected.png";

