$cursor-pencil-path: "../../../assets/icons/cursors/pencil.png";
$cursor-circle-path: "../../../assets/icons/cursors/circle.png";
$cursor-crosshair-path: "../../../assets/icons/cursors/crosshair.png";
$cursor-hand-path: "../../../assets/icons/cursors/hand.png";
$cursor-default-path: "../../../assets/icons/cursors/default.png";

$user-1-path: "../../../assets/icons/users/user-1.svg";
$user-2-path: "../../../assets/icons/users/user-2.svg";
$user-3-path: "../../../assets/icons/users/user-3.svg";
$user-4-path: "../../../assets/icons/users/user-4.svg";

$socket-connected-path: "../../../assets/icons/socket/connected.png";
$socket-disconnected-path: "../../../assets/icons/socket/disconnected.png";

