@import './variables.scss';

app-masthead {
  grid-area: masthead;
  background-color: $color-ink;
}

app-toolbar {
  grid-area: toolbar;
}

app-options-bar {
  grid-area: options-bar;
}

app-users {
  grid-area: users;
}

app-canvas {
  grid-area: canvas;
}

.container {
  display: grid;
  height: 100vh;
  background-color: $color-white-wash;
}

.container {
  grid-template:
    $header-height
    repeat(3, 1fr)
    calc(70% - #{$header-height}) / 100%;
  grid-template-columns: 100%;
  grid-gap: 5px;
  grid-template-areas:
    "masthead"
    "users"
    "toolbar"
    "options-bar"
    "canvas";
}

@media screen and (min-width: 961px) {
  .container {
    grid-template:
      $header-height repeat(2, 1fr) /
      $toolbar-width calc(80% - #{$toolbar-width}) 20%;
    grid-template-areas:
      "masthead masthead masthead"
      "toolbar canvas options-bar"
      "toolbar canvas users";
  }
}

@media screen and (min-width: 761px) and (max-width: 960px) {
  .container {
    grid-template:
      $header-height
      repeat(2, minmax(auto, 100px))
      minmax(auto, 500px) / 1fr 1fr;
    grid-template-areas:
      "masthead masthead"
      "users users"
      "toolbar options-bar"
      "canvas canvas";
  }
}
