// Grid
$grid-gap: 5px;
// Header
$header-height: 60px;

// Tools
$tools-width: 60px;

// Panel
$section-height-sm: 60px;

// Colors
$color-dark-metal: #272a2c;
$color-white-wash: #f3f3f3;
$color-ash: #5c646a;
$color-blueberry: #353c4e;
$color-ink: #505458;
