// Header
$header-height: 40px;

// Sidebars
$left-sidebar-width: 50px;
$right-sidebar-width: 200px;

// Section
$section-min-height: 60px;

// Colors
$color-dark-metal: rgb(39, 42, 44);
$color-white-wash: #f0f1f3;
$color-ash: rgb(92, 100, 106);
