@import '~reset-scss';
@import './variables.scss';

body {
  color: $color-white-wash;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  overflow: hidden;
}
