@import '../../../sass/assets.scss';
@import '../../../sass/mixins.scss';

.icon {
  position: absolute;
  top: 5px;
  right: 10px;
  background-size: contain;
  @include size(32);
}

.icon__socket-connected {
  background-image: url($socket-connected-path);
}

.icon__socket-disconnected {
  background-image: url($socket-disconnected-path);
  animation: blink 2s infinite ease-in-out;
  opacity: 1;
}

@keyframes blink {
  45% {
    opacity: 0.4;
  }
}
