@import '../../../sass/assets.scss';
@import '../../../sass/mixins.scss';

.user {
  display: flex;
  align-items: center;
}

.user__name {
  font-weight: bold;
  margin-right: 5px;
}

.user__icon {
  @include size(30);
  margin-right: 10px;
  background-size: contain;

  &.user__icon--1 {
    background-image: url($user-1-path);
  }

  &.user__icon--2 {
    background-image: url($user-2-path);
  }

  &.user__icon--3 {
    background-image: url($user-3-path);
  }

  &.user__icon--4 {
    background-image: url($user-4-path);
  }

  &.user__icon--drawing {
    background-image: url($animated-pencil-path);
  }
}
