@import '../../../sass/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: stretch;
  background-color: $color-dark-metal;
  font-size: 12px;
}

.panel__title {
  text-align: center;
  cursor: default;
}
