.dashboard {
  grid-area: dashboard;
}

.plot {
  grid-area: plot;
}

.container {
  display: grid;
  height: 100vh;
  grid-gap: 5px;
  grid-template-columns: 100px auto;
  grid-template-areas:
    "dashboard plot"
}
