@import '../../../sass/variables.scss';
@import '../../../sass/assets.scss';

#grid > line {
  stroke: lighten($color-ash, 50);
  stroke-width: 1px;
}

#svg {
  &.cursor__hand {
    g > rect:hover,
    g > circle:hover,
    g > polyline:hover {
      stroke: red;
    }
  }
}

.cursor {
  &__pencil {
    cursor: url($pencil-cursor-icon-path) 3 18, auto;
  }

  &__brush {
    cursor: url($brush-cursor-icon-path) 8.8 8.3, auto;
  }

  &__circle {
    cursor: url($circle-cursor-icon-path) 8.8 8.3, auto;
  }

  &__rect {
    cursor: url($rect-cursor-icon-path) 8 8, auto;
  }

  &__hand {
    cursor: url($hand-cursor-icon-path) 16 15, auto;
  }

  &__fist {
    cursor: url($fist-cursor-icon-path) 16 15, auto;
  }
}

