<app-panel [panelTitle]="title" class="canvas__panel">
    <svg xmlns="http://www.w3.org/2000/svg"
      id="svg"
      viewBox="0 0 14000 14000"
      width="14000"
      height="14000"
      #svg
      [appCursorable]="tool$"
      appMouseTracker
    >
      <defs>
          <pattern id="grid"
            patternUnits="userSpaceOnUse"
            width="10"
            height="10">
              <line x1="5" y1="0" x2="5" y2="10" />
              <line x1="0" y1="5" x2="10" y2="5" />
          </pattern>
      </defs>
      <rect width="100%" height="100%" fill="url(#grid)" />
      <g id="shapes">
        <polyline
          *ngFor="let polyline of polylines$ | async"
          [attr.points]="polyline.toString()"
          [attr.fill]="polyline.fill"
          [attr.stroke]="polyline.stroke"
        />
      </g>
      <ng-container #vcr></ng-container>
    </svg>
</app-panel>
