@import '../../../sass/variables.scss';

#grid > line {
  stroke: lighten($color-ash, 50);
  stroke-width: 1px;
}

.cursor {
  &__pencil {
    cursor: url("../../../assets/icons/pencil.png") 0 15, auto;
  }

  &__brush {
    cursor: url("../../../assets/icons/brush.png") 8 8, auto;
  }

  &__rect {
    cursor: crosshair;
  }

  &__hand {
    cursor: url("../../../assets/icons/pointer.png") 0 0, auto;
  }
}

