<app-panel [panelTitle]="title" class="canvas__panel">
    <svg xmlns="http://www.w3.org/2000/svg"
      id="svg"
      viewBox="0 0 14000 14000"
      width="14000"
      height="14000"
      #svg
      appCursorable
      appMouseService
    >
      <defs>
          <pattern id="grid"
            patternUnits="userSpaceOnUse"
            width="10"
            height="10">
              <line x1="5" y1="0" x2="5" y2="10" />
              <line x1="0" y1="5" x2="10" y2="5" />
          </pattern>
      </defs>
      <rect width="100%" height="100%" fill="url(#grid)" />
      <g id="polylines">
        <ng-container *ngFor="let polyline of canvasService.polylines$ | async">
          <g *ngIf="polyline.isStable()" [appPolyline]="polyline"></g>
          <polyline *ngIf="!polyline.isStable()"
            [attr.points]="polyline.toString()"
            [attr.fill]="polyline.fill"
            [attr.stroke]="polyline.stroke"
            [attr.stroke-width]="polyline.strokeWidth"/>
        </ng-container>
      </g>
      <g id="circles">
        <ng-container *ngFor="let circle of canvasService.circles$ | async">
          <g *ngIf="circle.isStable()" [appCircle]="circle">
          </g>
          <circle *ngIf="!circle.isStable()"
            [attr.cx]="circle.cx"
            [attr.cy]="circle.cy"
            [attr.r]="circle.r"
            [attr.fill]="circle.fill"
            [attr.stroke]="circle.stroke"
            [attr.stroke-width]="circle.strokeWidth"
          />
        </ng-container>
      </g>
      <g id="rects">
        <ng-container *ngFor="let rect of canvasService.rects$ | async">
          <g *ngIf="rect.isStable()" [appRect]="rect"></g>
          <rect *ngIf="!rect.isStable()"
            [attr.x]="rect.x"
            [attr.y]="rect.y"
            [attr.width]="rect.width"
            [attr.height]="rect.height"
            [attr.fill]="rect.fill"
            [attr.stroke]="rect.stroke"
            [attr.rx]="rect.rx"
            [attr.ry]="rect.ry"
            [attr.stroke-width]="rect.strokeWidth"
          />
        </ng-container>
      </g>
      <ng-container #vcr></ng-container>
    </svg>
</app-panel>
