@import '../../../sass/variables.scss';

#grid > line {
  stroke: lighten($color-ash, 50);
  stroke-width: 1px;
}

.cursor {
  &__pencil {
    cursor: url("../../../assets/icons/cursors/pencil.png") 0 15, auto;
  }

  &__circle {
    cursor: url("../../../assets/icons/cursors/circle.png") 8 8, auto;
  }

  &__crosshair {
    cursor: url("../../../assets/icons/cursors/crosshair.png") 8 8, auto;
  }

  &__hand {
    cursor: url("../../../assets/icons/cursors/hand.png") 8 7, auto;
  }
}

