:host {
  background-color: rgb(45, 45, 61);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 15px;
}

.logo {
  color: white;
  font-size: 15px;
  font-weight: bold;
}
