@import '../../../sass/variables.scss';

.masthead {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 15px;
  height: 100%;
  background-color: $color-dark-metal;

  &__logo {
    font-size: 15px;
    font-weight: bold;
    cursor: default;
  }
}
